@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oxygen&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Oxygen", sans-serif;
  background-color: #F2F2F2;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid #44A6A6;
}
nav h1 {
  font-family: "Lobster", cursive;
  font-size: 34px;
  font-weight: bold;
  color: #343B40;
}
nav .nav-btns {
  margin-left: auto;
  margin-right: 30px;
}
nav .nav-btns ul {
  font-size: 20px;
  list-style: none;
  display: flex;
  gap: 30px;
}
nav .nav-btns ul li {
  color: #44A6A6;
}
nav .nav-btns ul a {
  color: #44A6A6;
}
nav .nav-btns ul a:hover {
  color: #343B40;
}

a {
  text-decoration: none;
  color: #343B40;
}

.search-box {
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.search-box h2 {
  font-size: 20px;
  color: #343B40;
  font-weight: bold;
}

.search-bar {
  height: 36px;
  width: 500px;
  font-size: 20px;
  border: 2px solid #44A6A6;
  border-radius: 10px;
  padding: 4px;
  outline: none;
  color: #44A6A6;
}

.cards-grid {
  margin: 30px;
  display: grid;
  gap: 50px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 330px);
  grid-template-rows: repeat(auto-fit, 420px);
  align-items: center;
  justify-content: center;
  min-height: 620px;
}

.card {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 1px 1px 32px -18px black;
}
.card:hover {
  box-shadow: 2px 3px 32px -10px black;
}
.card img {
  width: 300px;
  margin-bottom: 10px;
  margin: 10px;
  border-radius: 20px 5px;
}
.card h1 {
  color: #343B40;
  font-size: 18px;
  font-weight: bold;
  margin: 4px;
}
.card h4 {
  color: #44A6A6;
}

footer {
  background-color: #44A6A6;
  color: #F2F2F2;
  text-align: center;
  padding: 8px;
}

.about-sec {
  text-align: center;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.about-sec h1 {
  font-size: 36px;
  font-weight: bold;
  color: #44A6A6;
}
.about-sec p {
  width: 60%;
  font-size: 18px;
  color: #343B40;
  line-height: 30px;
}

.info-card {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  margin-top: 10vh;
  height: 660px;
  display: flex;
  gap: 40px;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
}
.info-card img {
  width: 520px;
  border-radius: 30px 10px;
}

.detail-info ul li {
  margin-block: 40px;
  display: flex;
  gap: 10px;
}
.detail-info ul li h3 {
  color: #44A6A6;
  font-size: 18px;
  font-weight: bold;
}
.detail-info ul li p {
  color: #343B40;
  font-size: 18px;
}

.back-btn {
  font-size: 15px;
  padding: 10px;
  border: 2px solid #44A6A6;
  border-radius: 10px;
  color: #F2F2F2;
  background-color: #44A6A6;
  font-weight: bold;
}
.back-btn:hover {
  background-color: #F2F2F2;
  color: #44A6A6;
}
.back-btn a {
  padding: 10px;
}/*# sourceMappingURL=styles.css.map */